*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reglas para llamar los fondos
font-family: 'League Spartan', sans-serif;
*/

body {
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;



    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
}

h1{
    color: hsl(300, 43%, 22%);
    font-size: 2.5em;
    align-items: center;
    justify-content: center;
    width: 300px;
    line-height: 0.8em;
    text-align: center;
    margin-top: 2em;
}

h2{
    color: hsl(303, 10%, 53%);
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    width: 340px;
    text-align: center;
    
    line-height: 1.0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#scoreI{
    display: flex;
    flex-direction: column;
    width: 340px;
}

.scoreF{
    background-color: hsl(300, 24%, 96%);
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 1.0em;
    color: hsl(300, 43%, 22%);
    border-radius: 0.5em;
    text-align: center;
    padding: 1em;
    font-weight: 700;
}

#commentI{
    display: flex;
    flex-direction: column;
    width: 340px;
    text-align: center;
}

article{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsl(300, 43%, 22%);
    margin-top: 1em;
    border-radius: 0.5em;
    padding: 2em;
}

div{
    display: flex;
    text-align: center;
}

.portrait{
    border-radius: 50%;
    width: 2.0em;
    margin-right: 1em;
    margin-bottom: 1em;
}

h3{
    color: white;
    font-size: 1.0em;
}

span{
    color: hsl(333, 80%, 67%);
}

article p{
    color: white;
    font-size: 1.2em;
    text-align: left;
    font-weight: 400;
    line-height: 1.2em;
}

